body{
    background-color: rgb(60, 11, 106);
    display: flex;
    justify-content: center;
    background-image: url(./img/how-to-convert-agricultural.jpg);
    background-size: cover;
}
.bigdiv{
    margin-top: 15px;
    padding: 50px 0 50px 0;
    border: 1px solid white;
    width: 600px;
    /* From https://css.glass */
background: rgba(222, 213, 221, 0.249);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(35, 143, 11, 0.103);
}
h1{
    display: flex;
    justify-content: center;
    color: rgba(3, 101, 3, 0.795);
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#inputMarla{
    padding: 12px 40px 12px 40px ;
    background-color: rgba(228, 221, 221, 0.404);
    border: none;
}
.mainbody{
    display: flex;
    justify-content: center;
}
button{
    padding: 6px 80px 6px 80px ;
    margin: 6px 0 0 15px;
    border-radius: 5px;
    border: 2px solid rgba(3, 101, 3, 0.795) ;
    color:  white;
    background-color: rgba(3, 101, 3, 0.795);
}
p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}